  /* Global 
 ====================================================================== */
body {
	margin: 0;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 13px;
	line-height: 20px;
	color: #333;
	background-color: #F5F5F5;
	background-image: url('../img/bg.jpg');
	padding-top: 70px;
}
a {
	color: #0D5075;
	text-decoration: none;
	-webkit-transition: all 0.25s ease-in-out;
	-moz-transition: all 0.25s ease-in-out;
	transition: all 0.25s ease-in-out;
}
a:hover {
	color: #177FB8;
	text-decoration: none;
}
.progress{
	height: 15px;
}
.widget-box{
	background-color: #fff;
	border-radius: 4px;
	position: relative;
}
.widget-container{
	padding: 15px;
}
.widget-title h2 {
	font-size: 1.5em;
	text-decoration: none;
	color: #434a54;
	padding: 15px 15px 0;
}
a i.glyphicon, button i.glyphicon, .widget-title i.glyphicon, .title.icon-space i{
	margin-right: 5px;
}
.list_items > li {
	padding: 0 16px 12px 0;
}
button i.btn-icon,button.btn-icon i{
	margin-right: 0;
}
.highlight{
	background: #eee;
	padding: 10px;
	margin-bottom: 10px;	
}
.cell-sm{
	 width: 150px;
}
.cell-sm{
	 width: 200px;
}
.cell-sm{
	 width: 300px;
}

 /* Demo Grid Columns 
 ====================================================================== */
.demo-grid .row [class^="col-"] {
	padding-top: 10px;
	padding-bottom: 10px;
	background: #F7F0F0;;
	border: 1px solid rgba(86,61,124,.2);
}
.widget-container.demo-grid .row{
	margin-bottom: 10px;
}


/* Page Title
=================================================================== */
.page-title h1 {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin-top: 5px;
  font-weight: normal;
}
.breadcrumb {
	background-color: transparent;
}
.breadcrumb li a{
	color: #fff;
}

/*  Menu   
====================================================================== */ 
#top-navigation{
	background: #f8f8f8; 
	box-shadow: 0 1px 10px #666;
}
.dropdown-menu > li > a:hover{
	background-color: #fa6f57;
}
.navbar-brand i, .logo i{
	color: #fa6f57;
	margin-right: 5px;
}
.navbar-default{
	margin-bottom: 0;
	border-radius: 4px;
	border: 0;
	border-color: transparent !important;
}
.nav-user{
	padding-right: 0;
	position: relative;
}
.nav-user ul{
	background-color: #fa6f57;
	min-height: 51px;
	border-radius: 0;
}
.nav-user ul li a{
	color: #fff;
}
.nav-user ul.nav>li>a:hover,.nav-user ul.nav>li.open>a{
	min-height: 51px;
	color: #fff;
	background: #e75845;
	border-radius: 0 ;
}
.nav-user .dropdown-menu li a:hover{
	background: #e75845;
}
.nav-user .nav .caret, .nav-user .nav a:hover .caret {
	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	margin-left: 5px;
}
.nav-user .dropdown-menu .badge{
	background: #e75845;
	position: absolute;
	right: 10px;
}
.nav-user .dropdown-menu li a:hover .badge{
	background: #fa6f57;
}
.nav > li > a {
	padding: 15px 10px;
	line-height: 24px;
}
/* Circle stats
=================================================================== */
.circleStats {
	margin-bottom: 10px;
	padding: 5px 0;		
	text-align: center;
	position: relative;
	opacity: 0;
	background: #fff;
	border-radius: 4px; 
}

.circleStatsItem {
  position: relative;
  
  border-radius: 60px;
  width: 120px;
  height: 120px;
  margin: 10px auto;
}

 
.circleStatsItem input {
  cursor: default;
  box-shadow: none;
  border: none;
  height: auto;
  position: absolute;
  top: 20px;
  left: 120px;
  font-size: 2em !important;
}

.circleStatsItem .percent {
  font-size: 0.9em;
  position: absolute;
  top: 44%;
  margin-left: 80px;
}

.circleStatsItem input:focus {
  outline: 0;
  outline: thin dotted 0;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.circleStats-title {
  width: 100%;
  text-shadow: 0px 1px 1px #222;
 }

/* custom-badges, custom table header
=================================================================== */
.custom-badges{
	margin-top: 20px;
	padding: 20px;
	background: #fff;
	border-radius: 4px;
	text-align: center;
}
.bagde-blue, .table-blue th{
	background: #55c1e7;
}
.bagde-green, .table-green th{
	background: #a1d36e;
}
.bagde-red, .table-red th{
	background: #fa6f57;
}


/* recent Box and tasks box
=================================================================== */
.recent-box{
	background-color: #fff;
	padding: 10px;
}
.feeds, .tasks {
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.feeds li{
	background: #f5f5f5;
	margin: 10px 0;
	padding: 2px 5px 5px;
	position: relative;
	overflow: hidden;
}
.tasks .checkbox{
	margin: 0;
}
.tasks>li{
	margin:0;
	padding: 12px 8px 13px;
	border-bottom: 1px solid #eaeaea;
}
.tasks>li:last-child{
	border-bottom: none;
}
.tasks>li:hover{
	background: #f5f5f5;
}
.tasks>li:hover .dropdown-toggle{
	background: #55c1e7;
	opacity: 1;
	color: #fff;
}
.tasks .dropdown-toggle{
	opacity: 0;
	padding: 2px 10px 5px;
}
 .tasks .caret{
 	border-top-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	margin: 5px 8px 5px 5px;
}
.tasks li input[type="checkbox"]:checked ~ span {
  text-decoration: line-through;
  opacity: 0.6; }
/* Table
=================================================================== */

table.order-table{border-collapse: separate; }
table.order-table th{color: #fff; }
table.order-table td { border: 1px solid #dddddd; }
table.order-table tr:first-child th:first-child { border-top-left-radius: 10px; }
table.order-table tr:first-child th:last-child { border-top-right-radius: 10px; }
.dataTables_filter input {
	border-radius:3px;
	background: none;
	border:1px solid #DDD;
	
}


/* chart
=================================================================== */

.chart-container{
	box-sizing: border-box;
	height: 300px;
	padding: 20px 15px 15px 15px;
}
.chart-placeholder {
	width: 100%;
	height: 100%;
	font-size: 14px;
	line-height: 1.2em;
}
.vital-stats{
	min-height: 300px;
}
.vital-stats label{
	font-weight: normal;
}

/*Misc styles*/
.pie-chart-label {
	font-size: 12px;
	text-align: center;
	background: #e2e2e2;
	color: #000;
	border:1px solid #c4c4c4;
	border-radius: 2px;
	-webkit-border-radius:2px;
	-moz-border-radius:2px;
	padding:2px 10px;
	-moz-box-shadow:0 1px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
	box-shadow: 0 1px 0px rgba(0, 0, 0, 0.3);
	opacity: 0.8;
}


/* Alerts 
====================================================================== */ 
.tools {
	border-left: 1px solid #E0DEDE;
	margin: 2px 0 0;
	padding: 6px 5px 6px 10px;
}
/* Button styles
====================================================================== */ 
.group-header {
	padding-bottom: 9px;
	margin: 20px 0 30px;
	border-bottom: 1px solid #eeeeee;
}
.group-header:last-child{
	border-bottom: none;
}
.widget-container .group-header .btn-group{
	margin-bottom: 10px;
}
 

.btn-circle{
	margin-right: 3px;
	padding: 15px;
	border-radius: 50%;
}
.btn-circle-lg{
	margin-right: 8px;
	padding: 30px;
	border-radius: 50%;
}
.btn-flat{
	border-radius: 0 !important;
	box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.action-flat{
	min-width: 120px;
	border-radius: 0 !important;
	box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.btn.action-flat span, .btn.action-rounded span{
	display: block;
	font-size: 0.8em;
	margin-top: 3px;
}
.action-flat-lg{
	min-width: 160px;
	border-radius: 0 !important;
	box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.btn.action-flat-lg span, .btn.action-rounded-lg span{
	display: block;
	font-size: 0.8em;
	margin-top: 5px;
}
.action-rounded{
	min-width: 120px;
	border-radius: 8px;
}
.action-rounded-lg{
	min-width: 160px;
	border-radius: 8px;
}
/* Custom Buttons
====================================================================== */
.btn-gray{
	color: #ffffff;
	background: #8692a1;
	border-color: #707f92;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  	color: #ffffff;
	background: #6B7888;
	border-color: #596573;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
  background-color: #8692a1;
  border-color: #707f92;
}

.btn-black{
	color: #ffffff;
	background: #3a3c3e;
	border-color: #151414;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  	color: #ffffff;
	background: #0f0d0d;
	border-color: #000000;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #3a3c3e;
  border-color: #151414;
}

.btn-golden{
	color: #ffffff;
	background: #d2a147;
	border-color: #c29440;
}

.btn-golden:hover,
.btn-golden:focus,
.btn-golden:active,
.btn-golden.active,
.open .dropdown-toggle.btn-golden {
  	color: #ffffff;
	background: #c8963d;
	border-color: #bb8c38;
}

.btn-golden:active,
.btn-golden.active,
.open .dropdown-toggle.btn-golden {
  background-image: none;
}

.btn-golden.disabled,
.btn-golden[disabled],
fieldset[disabled] .btn-golden,
.btn-golden.disabled:hover,
.btn-golden[disabled]:hover,
fieldset[disabled] .btn-golden:hover,
.btn-golden.disabled:focus,
.btn-golden[disabled]:focus,
fieldset[disabled] .btn-golden:focus,
.btn-golden.disabled:active,
.btn-golden[disabled]:active,
fieldset[disabled] .btn-golden:active,
.btn-golden.disabled.active,
.btn-golden[disabled].active,
fieldset[disabled] .btn-golden.active {
  background-color: #d2a147;
  border-color: #c29440;
}

.btn-darkgreen{
	color: #ffffff;
	background: #4c7872;
	border-color: #3f726c;
}

.btn-darkgreen:hover,
.btn-darkgreen:focus,
.btn-darkgreen:active,
.btn-darkgreen.active,
.open .dropdown-toggle.btn-darkgreen {
  	color: #ffffff;
	background: #3f645f;
	border-color: #375d58;
}

.btn-darkgreen:active,
.btn-darkgreen.active,
.open .dropdown-toggle.btn-darkgreen {
  background-image: none;
}

.btn-darkgreen.disabled,
.btn-darkgreen[disabled],
fieldset[disabled] .btn-darkgreen,
.btn-darkgreen.disabled:hover,
.btn-darkgreen[disabled]:hover,
fieldset[disabled] .btn-darkgreen:hover,
.btn-darkgreen.disabled:focus,
.btn-darkgreen[disabled]:focus,
fieldset[disabled] .btn-darkgreen:focus,
.btn-darkgreen.disabled:active,
.btn-darkgreen[disabled]:active,
fieldset[disabled] .btn-darkgreen:active,
.btn-darkgreen.disabled.active,
.btn-darkgreen[disabled].active,
fieldset[disabled] .btn-darkgreen.active {
  background-color: #4c7872;
  border-color: #3f726c;
}

.btn-brown{
	color: #ffffff;
	background: #ca8919;
	border-color: #c08115;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  	color: #ffffff;
	background: #b57c1b;
	border-color: #a8741a;
}

.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  background-image: none;
}

.btn-brown.disabled,
.btn-brown[disabled],
fieldset[disabled] .btn-brown,
.btn-brown.disabled:hover,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown:hover,
.btn-brown.disabled:focus,
.btn-brown[disabled]:focus,
fieldset[disabled] .btn-brown:focus,
.btn-brown.disabled:active,
.btn-brown[disabled]:active,
fieldset[disabled] .btn-brown:active,
.btn-brown.disabled.active,
.btn-darkgreen[disabled].active,
fieldset[disabled] .btn-brown.active {
  background-color: #ca8919;
  border-color: #c08115;
}

/* Tabs and accordians  
====================================================================== */
.tabs-primary ul > li.active > a{
	background-color: #d9edf7;
}
.tabs-primary .tab-content{
	background-color: #d9edf7;
	padding: 5px 10px 10px;
}
.tabs-success ul > li.active > a{
	background-color: #dff0d8;
}
.tabs-success .tab-content{
	background-color: #dff0d8;
	padding: 5px 10px 10px;
}

/* Gallery page
====================================================================== */

.gallery-item a{
	 
	margin-bottom: 20px; 
	display: block;
	
}
.gallery-item a:hover{ 
	margin-bottom: 20px; 
	display: block; 
	border-color:transparent;
	
}
 
.thumbnail{
	overflow: hidden;
}
.thumbnail  img{
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
	 
}
 
.thumbnail  img:hover{  
	-webkit-transform: scale(1.5);
	-moz-transform: scale(1.5);
	-ms-transform: scale(1.5);
	-o-transform: scale(1.5);
	transform: scale(1.5);	
} 
.anim-row1{
	-webkit-animation-delay: .2s;
	-moz-animation-delay: .2s;
	-o-animation-delay: .2s;
	animation-delay: .2s; 
}
.anim-row2{
	-webkit-animation-delay: .3s;
	-moz-animation-delay: .3s;
	-o-animation-delay: .3s;
	animation-delay: .3s; 
}
.anim-row3{
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s; 
}

/* Conversation  
====================================================================== */
.timeline-messages, .msg-time-chat {
	position: relative;
	margin: 8px 0;
}

.msg-time-chat:first-child {
	padding-top: 0;
}
.msg-time-chat {
	overflow: hidden;
	padding: 8px 0;
}
.message-img {
	border-radius: 30px;
	-moz-border-radius: 30px;
	-webkit-border-radius: 30px;
	float: left;
	margin-right: 30px;
	overflow: hidden;
}
.message-img img {
	display: block;
	height: 44px;
	width: 44px;
}
img {
	width: auto\9;
	height: auto;
	max-width: 100%;
	vertical-align: middle;
	border: 0;
	-ms-interpolation-mode: bicubic;
}
.message-body-right {
	margin-left:25px;
}
.message-body-left {
	margin-right:55px;
}
.msg-time-chat .text {
	background: #fbfbfb;
	border: 1px solid #E5E5E5;
	padding: 10px;
}
.msg-time-chat .attribution {
	color: #666666;
	font-size: 11px;
	margin: 0px 0 5px;
}
.msg-time-chat p {
	margin: 0;
}
.chat-form {
margin-top: 15px;
	padding: 10px;
	background-color: #eee;
	clear: both;
}
.chat-form .input-cont {
	margin-right: 55px;
}
.chat-form .input-cont input {
	border: 1px solid #ddd;
	width: 94%;
	margin-top: 0;
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
.chat-form .btn-cont {
	margin-top: -38px;
	position: relative;
	float: right;
}
.chat-form .btn-cont .btn {
	border-left: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
	border-radius: 0px;
	margin-top: 8px;
}

/*Messages layout*/
.messages {
	position: relative;
	list-style: none;
	margin-left: 0;
	padding-bottom: 0;
	margin-bottom: -7px;
	padding-left: 0;
}
.messages li {
	position: relative;
	padding: 10px 0 15px 0;
	width: 100%;
}
 
.messages a.avatar {
	float: left;
	margin: 0 15px 0 15px; 
}
.messages a.avatar img {
	width: 40px;
	height: 40px;
	border-radius: 30px;
}
.messages li div.message {
	position: relative;
	margin-right: 15px;
	margin-left: 75px;
	border: 1px solid #d8d8d8;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	padding: 10px;
	background: #FAFAFA; 
}
.messages li.user div.message:after {
	float: left;
	content: "";
	position: absolute;
	top: 10px;
	left: -10px;
	width: 10px;
	height: 17px;
	background: url(../img/arrow-left.png) no-repeat;
}
.messages li div.message .head {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
.messages li div.message .head span.name {
	float: left;
	color: #999999;
}
.messages li div.message .head span.name strong {
	color: #ED7A53;
}
.messages li div.message .head span.time {
	float: right;
	font-size: 11px;
	margin-right: 15px;
	color: #999999;
}
.messages li div.message p {
}

.messages li.admin a.avatar {
	float: right;
}
.messages li.admin div.message {
	margin-left: 15px;
	margin-right: 75px;
}
.messages li.admin div.message .head span.name {
	float: right;
}
.messages li.admin div.message .head span.time {
	float: left;
	margin-right: 15px;
}

.messages li.admin div.message:after {
	float: left;
	content: "";
	position: absolute;
	top: 10px;
	right: -10px;
	width: 10px;
	height: 17px;
	background: url(../img/arrow-right.png) no-repeat;
}



/* Tab bottom*/
.tab-bottom {
	border-top: 1px solid #DDD;
	border-bottom: 0;
}
.nav-tabs.tab-bottom > li.active > a,
.nav-tabs.tab-bottom > li.active > a:hover,
.nav-tabs.tab-bottom > li.active > a:focus{
	border-bottom-color:  #DDD;
	border-top-color: rgba(0, 0, 0, 0);
	border-radius:0 0 4px 4px;
}
.nav-tabs.tab-bottom > li { 
	margin-top: -1px;
}
 

/* List Styles  
====================================================================== */ 
.list-circle{
	list-style: circle;
}
.list-Square{
	list-style: square;
}
/* Calender  
====================================================================== */ 
.fc-event.label-default{
	background-color: #999999;
	border: 0;
}
.fc-event.label-warning{
	background-color: #f0ad4e;
	border: 0;
}
.fc-event.label-info{
	background-color: #5bc0de;
	border: 0;
}
.fc-event.label-danger{
	background-color: #d9534f;
	border: 0;
}
.fc-event.label-primary{
	background-color: #428bca;
	border: 0;
}
.fc-event.label-success{
	background-color: #5cb85c;
	border: 0;
}
.external-event{
	margin: 2px 5px;
	display: inline-block;
	cursor: pointer;
}

/* Footer  
====================================================================== */ 
.footer{
	margin: 15px 0;
}
.footer p,.footer a{
	color: #A79B9B;
	text-align: center;
}
.footer a:hover{
	text-decoration: underline;
}

/* Singup from  
====================================================================== */ 
#signup .title {
	width: auto;
	letter-spacing: -1px;
	margin: 0;
	border: 1px solid #DDD;
	background: #F7F7F7;
	padding: 12px 20px;
	font-size: 20px;
	color: #444;
	-moz-border-radius: 4px 4px 0 0;
	-webkit-border-radius: 4px 4px 0 0;
	border-radius: 4px 4px 0 0;
}
#signup fieldset {
	padding: 20px 0 0 0;
	background-color: white;
	border: 1px solid #DDD;
	border-top: none;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 4px 4px;
}

#signup .clearfix, #signup .clearfix.error {
	width: auto ;
	padding-top: 0 ;
	margin-left: 0 ;
	margin-right: 0 ;
	padding-left: 20px ;
	padding-right: 20px ;
}
 #signup .actions {
	margin: 0;
	padding-left: 30px;
}

#signup .clickedit {
	color: #333!important;
	margin: 5px 0 5px 0;
	font-family: Cambria,Georgia,serif;
	font-size: 110%;
	line-height: 120%;
	padding: 8px 10px;
	border: 1px dashed #E4E4E4;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

input[type="checkbox"], input[type="radio"] {
	width: auto;
	height: auto;
	padding: 0;
	margin: 3px 0;
	line-height: normal;
	border: none;
}
.inputs-list input[type="radio"], .inputs-list input[type="checkbox"] {
	margin-bottom: 0;
	margin-right: 5px;
	float: left;	
}
.inputs-list label span {font-size:12px;}

.actions {
	background: whiteSmoke;
	margin-top: 18px;
	margin-bottom: 18px;
	padding: 17px 20px 18px 150px;
	border-top: 1px solid #DDD;
	-webkit-border-radius: 0 0 3px 3px;
	-moz-border-radius: 0 0 3px 3px;
	border-radius: 0 0 3px 3px;
}
.sign-in .title {color:#444 !important}
.btn.success:hover { background-position: 0 0px;
  -webkit-transition: background-position 0.1s linear;
     -moz-transition: background-position 0.1s linear;
       -o-transition: background-position 0.1s linear;
          transition: background-position 0.1s linear;}
.sign-in .btn-large {
	font-size: 15px;
	line-height: normal;
	padding: 7px 14px 7px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.sign-in,.sign-up {
	margin:0 auto;
	float:none;
	-webkit-animation-delay: .5s;
	-moz-animation-delay: .5s;
	-o-animation-delay: .5s;
	animation-delay: .5s;
}
#signup .form-group{
	padding: 0 20px;
}
#signup{
	margin-bottom: 20px; 
}
.form-group-row{
	background: #a1d36e;
	text-align: center;
}
.form-group-row .user-name{
	font-size: 22px;
	padding: 5px 0;
}
.form-group-row .user-email{
	padding-bottom: 5px;
}
.user-image{
	padding-top: 10px;
	border-radius: 50%;
}
.lock-screen .actions .lock-identity {
	margin-top: 10px;
	text-align: center;
	font-size: 16px;
}
.lock-screen .actions .input-group .form-control{
	width: 95%;
	border-radius: 4px
}
.lock-screen .actions .input-group .btn{
	border-radius: 4px
}

/* Invoice   
====================================================================== */ 
ul.total li{
	border: 1px solid #A3A3A3;
	padding: 5px 10px;
	margin-bottom: 5px;
	background: #f1f1f1;
}
.add-title h5{
	font-weight: bold;
}

/* pricing tables   
====================================================================== */ 
#pricing-table {
		text-align: center;
}
#pricing-table .price_wrapper.lite {
	float: right;
	right: -30px;
}
#pricing-table .price_wrapper {
	background-color: #fafafa;
	border: 1px solid #d9d9d9;
	box-shadow: 0px 0px 5px 2px #E8E8E8;
	border-radius: 6px;
	width: 321px;
	min-height: 375px;
	position: relative;
}
#pricing-table .price_wrapper.regular .header {
	background: #fa6f57;
}
#pricing-table .price_wrapper .header {
	height: 98px;
	color: #fff;
	padding: 25px 0px 0px 0px;
}
#pricing-table .price_wrapper .header > span {
	font-size: 24px;
	font-style: italic;
}
#pricing-table .price_wrapper .header {
	color: #fff;
}
#pricing-table .price_wrapper .section {
	padding: 15px 30px;
}
#pricing-table .price_wrapper .section h3 {
	color: #535861;
	font-size: 17px;
	line-height: 22px;
}
#pricing-table .price_wrapper .section ul.perks {
	margin-left: 0px;
	margin-top: 18px;
}
#pricing-table .price_wrapper .section ul.perks li {
	padding: 8px 0px;
	border-bottom: 1px dotted #999;
}
#pricing-table .price_wrapper .section .btn {
	bottom: 15px;
	left: 32%;
	font-weight: bold;
}
#pricing-table .price_wrapper.pro {
	width: 331px;
	margin: 0 auto;
	bottom: 20px;
}
#pricing-table .price_wrapper.pro .header {
	background: #55c1e7;
}

/* 404 page 
====================================================================== */ 
#error-404 {
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #E4E4E4;
	background: #FAFAFA;
}
.aligncenter {
	text-align: center;
}
h2.aligncenter {
	font-size: 3em;
}

/* 500 page 
====================================================================== */
p.aligncenter{
	font-size: 35px;
}
p.aligncenter span{
	font-size: 95px;
	color: #fa6f57;
}

/* Profile 
====================================================================== */
.widget-container .profile{
	margin-bottom: 10px;
	border-radius: 50%;
}

/* Coming Soon page 
====================================================================== */
.widget-box.text-center.coming-soon{
	margin-top: 100px;
}
.coming-soon .widget-container .input-group .form-control{
	width: 95%;
	border-radius: 4px;
}
.coming-soon .widget-container .input-group .btn{
	border-radius: 4px;
}
.coming-soon .widget-container p:first-child{
	margin: 20px auto;
	font-size: 30px;
	color: #fa6f57;
}
.coming-soon .widget-container p:last-child{
	margin: 20px auto;
}
.coming-soon .widget-container img{
	margin-bottom: 20px;
}

/* Blog page   
====================================================================== */ 
.thumbnail-figure {margin:0 0 20px 0}
.blog-post {margin-bottom:50px; margin-right: 20px;  }
.blog-post footer{
	background: #eaeaea url(../img/footer-separator.png)
	repeat-x 0 0;
	padding: 25px 0 0;
	margin: 20px 0 0 0;
}
#sidebar .ul-list li {
	list-style: disc;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px dotted #CFCFCF;
}
.unstyle{
	margin: 10px 0;
  	list-style: none;
  	line-height: 30px;
}

/* About Page 
====================================================================== */
.team-thumbnail {
	text-align:center; 
	padding:15px;
	background: #EEE;
	border: 1px solid #E2DFDF;
	-webkit-transition: all 0.4s ease;
	-moz-transition: all 0.4s ease;
	-o-transition: all 0.4s ease;
	transition: all 0.24 ease;
}
.team-thumbnail:hover{
	background: #F8F8F8;
	
}
.team-thumbnail-img{
	width: 170px;
	height: 170px;
	padding: 5px;
	display: block;	
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	-webkit-box-shadow: 0 0 10px rgba(51, 51, 51, 0.9) inset;
	-moz-box-shadow: 0 0 10px rgba(51, 51, 51, 0.9) inset;
	box-shadow: 0 0 10px rgba(51, 51, 51, 0.9) inset;
	border: 10px solid whiteSmoke;	
	z-index: -1;
	margin:0 auto;
}

.team-thumbnail-img img{
	width: 140px;
	height: 140px;
	-webkit-transition: all 0.2s;
	-moz-transition: all 0.2s;
	-o-transition: all 0.2s;
	transition: all 0.2s;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	opacity: .8;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
}
.caption h4{margin: 0 0 5px; color:#666}
.thumbnails > li {
	float: left;
	margin-bottom: 20px;
	
}
.thumbnails{
	margin:0;
}

/* Google Map
=================================================================== */
.google-map img,#googlemaps img {
    max-width: none;
}
.google-map-canvas,.google-map,.google-map *,
.google-map-canvas * { .box-sizing(content-box); }


#googlemaps{
}

.google-map{
	position: relative;
	z-index: 1;
	height: 480px;
	width: 100%;
}

.gmap_block{
	padding-right: 0px !important;
	padding-left: 0px !important;
	overflow: hidden;
	position: relative;
}
#panel {
	position: absolute;
	margin-top: 70px;
	width: 400px;
	top: 5px;
	left: 50%;
	margin-left: -180px;
	z-index: 5;
	background-color: #fff;
	padding: 5px;
	border: 1px solid #999;
}
#panel input{
	width: 100%;
}

/* form layout page   
====================================================================== */ 
.input-xs{
	width: 60px;
}
.chosen{
	width:100%; 
}
.chosen-container-single .chosen-single{
	height: 30px
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
	min-height: 20px;
}

/* form validation page   
====================================================================== */
.input-warning, .input-success, .input-error{
	position: absolute;
	right: 0;
	margin-top: -28px;
	margin-right: 25px;
}
.input-warning i.glyphicon{
	color: #c09853;
}
.input-success i.glyphicon{
	color: #468847;
}
.input-error i.glyphicon{
	color: #b94a48;
}

/* Icon page   
====================================================================== */
.demo-icon-list .col-md-4{
	margin-bottom: 10px;
	margin-top: 10px;
}
.demo-icon-list .col-md-4 i{
	font-size: 16px;
	margin-right: 10px;
}
.icon-xs{
	font-size: 10px !important;
}
.icon-sm{
	font-size: 16px !important;
}
.icon-lg{ 
	font-size: 20px !important;
}
.icon-xl{ 
	font-size: 24px !important;
}

.icon-circle{
	padding: 0.8em;
	border-radius: 50%;
	color: #fff;
}
.icon-flat{
	padding: 0.8em;
	color: #fff;
}
.icon-rounded{
	border-radius: 4px;
	padding: 0.8em;
	color: #fff;
}
.icon-empty{
	background: #fff !important;
	border: 1px solid #444;
	color: #444;
}
.icon-black{
	background: #444 !important; 
	color: #FFF;
}
.icon-success{
	background: #5cb85c;
}
.icon-danger{
	background: #d9534f;
}
.icon-warning{
	background: #f0ad4e;
}
.icon-chevron-up{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.icon-chevron-up:before {
content: "\e113";
}

.icon-chevron-down{
	position: relative;
	top: 1px;
	display: inline-block;
	font-family: 'Glyphicons Halflings';
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-weight: normal;
	line-height: 1;
}
.icon-chevron-down:before {
content: "\e114";
}

/* File upload   
====================================================================== */  
.uneditable-input, .uneditable-textarea {
	display: inline-block;
	padding: 4px 3px 4px 5px;
	font-size: 14px;
	line-height: 20px;
	color: #555;
	cursor: not-allowed;
	background-color: #FFF;
	border: 1px solid #EEE; 
	border-radius: 4px 0 0 4px;
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	-moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	height: 34px;
	min-width: 150px;
}
.fileupload  .btn-file{
	margin-left:-2px;
	padding: 0;
}
/* Custom Media Queries   
====================================================================== */ 
 
/*Landscape phones and down*/
  @media (max-width: 480px) {
  	
 }
/*Landscape phone to portrait tablet*/
  @media (max-width: 767px) {
  	.container {max-width: 98%;}
  	.nav-user ul{
  		float:none !important;
  	}
  	.nav-user{
  		padding-right: 15px;
  	}
  		.nav-user .navbar-nav {
	margin:0px;
	}
 }
/*Portrait tablet to landscape and desktop*/
  @media (min-width: 768px) and (max-width: 992px) {
  	.container {max-width: 96%;}
  	.nav-user ul,.nav-user ul li{
  		float:none !important;
  	}
  	.nav-user{
  		padding-right:0;
  		padding-left:0;
  		
  	}
  	.nav-user ul{
  		border-radius: 0 0 4px 4px ;
  		position: static;
  	}
  	.navbar-nav.pull-right .dropdown{
  		padding-left: 15px;
  	}
}
/* Small Desktop & Ipad landscape*/
@media (min-width: 993px) and (max-width: 1199px) {
	 .row.navbar-fixed-top{
  		margin-left: 0;
  		margin-right: 0;
  	}
}
/*Large desktop*/
  @media (min-width: 1200px) {
  	.container {max-width: 90%;} 

  	.row.navbar-fixed-top{
  		margin-left: 0;
  		margin-right: 0;
  	}
  	..nav-user .navbar-nav.pull-right > li > .dropdown-menu, 
  	.nav-user .navbar-nav > li > .dropdown-menu.pull-right {
	right: 0 !important;
	left: auto !important';
	}
}





 
