  /* Global 
 ====================================================================== */
body {
    margin: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-size: 13px;
    line-height: 20px;
    color: #333;
    background-color: #bcc8d6; 
    padding-top: 70px;
}
a {
    color: #0D5075;
    text-decoration: none;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}
a:hover {
    color: #177FB8;
    text-decoration: none;
}
.progress{
    height: 15px;
}
.widget-box{
    background-color: #fff;
    border-radius: 4px;
    position: relative;
}
.widget-container{
    padding: 15px;
}
.widget-title h2 {
    font-size: 1.5em;
    text-decoration: none;
    color: #434a54;
    padding: 15px 15px 0;
}
a i.glyphicon, button i.glyphicon, .widget-title i.glyphicon, .title.icon-space i{
    margin-right: 5px;
}
.list_items > li {
    padding: 0 16px 12px 0;
}
button i.btn-icon,button.btn-icon i{
    margin-right: 10;
}
.highlight{
    background: #eee;
    padding: 10px;
    margin-bottom: 10px;	
}
.cell-sm{
     width: 150px;
}
.cell-sm{
     width: 200px;
}
.cell-sm{
     width: 300px;
}

 /* Demo Grid Columns 
 ====================================================================== */
.demo-grid .row [class^="col-"] {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #F7F0F0;;
    border: 1px solid rgba(86,61,124,.2);
}
.widget-container.demo-grid .row{
    margin-bottom: 10px;
}


/* Page Title
=================================================================== */
.page-title h1 {
  font-size: 2em;
  color: #fff;
  text-shadow: 1px 1px 1px #000;
  margin-top: 5px;
  font-weight: normal;
}
.breadcrumb {
    background-color: transparent;
}
.breadcrumb li a{
    color: #fff;
}

/*  Menu   
====================================================================== */ 
#top-navigation{
    background: #f8f8f8; 
    box-shadow: 0 1px 10px #666;
}
.dropdown-menu > li > a:hover{
    background-color: #fa6f57;
}
.navbar-brand i, .logo i{
    color: #fa95fa;
    margin-right: 4px;
}
.navbar-default{
    margin-bottom: 0;
    border-radius: 4px;
    border: 0;
    border-color: transparent !important;
}
.nav-user{
    padding-right: 0;
    position: relative;
}
.nav-user ul{
    background-color: #fa6f57;
    min-height: 51px;
    border-radius: 0;
}
.nav-user ul li a{
    color: #fff;
}
.nav-user ul.nav>li>a:hover,.nav-user ul.nav>li.open>a{
    min-height: 51px;
    color: #fff;
    background: #e75845;
    border-radius: 0 ;
}
.nav-user .dropdown-menu li a:hover{
    background: #e75845;
}
.nav-user .nav .caret, .nav-user .nav a:hover .caret {
    border-top-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    margin-left: 5px;
}
.nav-user .dropdown-menu .badge{
    background: #e75845;
    position: absolute;
    right: 10px;
}
.nav-user .dropdown-menu li a:hover .badge{
    background: #fa6f57;
}
.nav > li > a {
    padding: 15px 10px;
    line-height: 24px;
}


/* custom-badges, custom table header
=================================================================== */
.custom-badges{
    margin-top: 20px;
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    text-align: center;
}
.bagde-blue, .table-blue th{
    background: #55c1e7;
}
.bagde-green, .table-green th{
    background: #a1d36e;
}
.bagde-red, .table-red th{
    background: #fa6f57;
}


/* Table
=================================================================== */

table.order-table{border-collapse: separate; }
table.order-table th{color: #fff; }
table.order-table td { border: 1px solid rgb(144, 189, 222); }
table.order-table tr:first-child th:first-child { border-top-left-radius: 10px; }
table.order-table tr:first-child th:last-child { border-top-right-radius: 10px; }
.dataTables_filter input {
    border-radius:3px;
    background: none;
    border:1px solid #88c7d3;

}

td.highlight {
        font-weight: bold;
        color: red;
        background: none;
    }


table.dataTable tbody tr:hover td {
    background-color: #78b5fd !important;
}

.dt-button {
    display: block;
    width: 80px;
    height: 32px;
    background: #78b5fd; 
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}
/* Button styles
====================================================================== */ 
.group-header {
    padding-bottom: 9px;
    margin: 20px 0 30px;
    border-bottom: 1px solid #eeeeee;
}
.group-header:last-child{
    border-bottom: none;
}
.widget-container .group-header .btn-group{
    margin-bottom: 10px;
}


.btn-circle{
    margin-right: 3px;
    padding: 15px;
    border-radius: 50%;
}
.btn-circle-lg{
    margin-right: 8px;
    padding: 30px;
    border-radius: 50%;
}
.btn-flat{
    border-radius: 0 !important;
    box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.action-flat{
    min-width: 120px;
    border-radius: 0 !important;
    box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.btn.action-flat span, .btn.action-rounded span{
    display: block;
    font-size: 0.8em;
    margin-top: 3px;
}
.action-flat-lg{
    min-width: 160px;
    border-radius: 0 !important;
    box-shadow: inset 0 1px 1px rgba(255, 253, 253, 0.5);
}
.btn.action-flat-lg span, .btn.action-rounded-lg span{
    display: block;
    font-size: 0.8em;
    margin-top: 5px;
}
.action-rounded{
    min-width: 120px;
    border-radius: 8px;
}
.action-rounded-lg{
    min-width: 160px;
    border-radius: 8px;
}
/* Custom Buttons
====================================================================== */
.btn-gray{
    color: #ffffff;
    background: #8692a1;
    border-color: #707f92;
}

.btn-gray:hover,
.btn-gray:focus,
.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
    color: #ffffff;
    background: #6B7888;
    border-color: #596573;
}

.btn-gray:active,
.btn-gray.active,
.open .dropdown-toggle.btn-gray {
  background-image: none;
}

.btn-gray.disabled,
.btn-gray[disabled],
fieldset[disabled] .btn-gray,
.btn-gray.disabled:hover,
.btn-gray[disabled]:hover,
fieldset[disabled] .btn-gray:hover,
.btn-gray.disabled:focus,
.btn-gray[disabled]:focus,
fieldset[disabled] .btn-gray:focus,
.btn-gray.disabled:active,
.btn-gray[disabled]:active,
fieldset[disabled] .btn-gray:active,
.btn-gray.disabled.active,
.btn-gray[disabled].active,
fieldset[disabled] .btn-gray.active {
  background-color: #8692a1;
  border-color: #707f92;
}

.btn-black{
    color: #ffffff;
    background: #3a3c3e;
    border-color: #151414;
}

.btn-black:hover,
.btn-black:focus,
.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
    color: #ffffff;
    background: #0f0d0d;
    border-color: #000000;
}

.btn-black:active,
.btn-black.active,
.open .dropdown-toggle.btn-black {
  background-image: none;
}

.btn-black.disabled,
.btn-black[disabled],
fieldset[disabled] .btn-black,
.btn-black.disabled:hover,
.btn-black[disabled]:hover,
fieldset[disabled] .btn-black:hover,
.btn-black.disabled:focus,
.btn-black[disabled]:focus,
fieldset[disabled] .btn-black:focus,
.btn-black.disabled:active,
.btn-black[disabled]:active,
fieldset[disabled] .btn-black:active,
.btn-black.disabled.active,
.btn-black[disabled].active,
fieldset[disabled] .btn-black.active {
  background-color: #3a3c3e;
  border-color: #151414;
}

.btn-golden{
    color: #ffffff;
    background: #d2a147;
    border-color: #c29440;
}

.btn-golden:hover,
.btn-golden:focus,
.btn-golden:active,
.btn-golden.active,
.open .dropdown-toggle.btn-golden {
    color: #ffffff;
    background: #c8963d;
    border-color: #bb8c38;
}

.btn-golden:active,
.btn-golden.active,
.open .dropdown-toggle.btn-golden {
  background-image: none;
}

.btn-golden.disabled,
.btn-golden[disabled],
fieldset[disabled] .btn-golden,
.btn-golden.disabled:hover,
.btn-golden[disabled]:hover,
fieldset[disabled] .btn-golden:hover,
.btn-golden.disabled:focus,
.btn-golden[disabled]:focus,
fieldset[disabled] .btn-golden:focus,
.btn-golden.disabled:active,
.btn-golden[disabled]:active,
fieldset[disabled] .btn-golden:active,
.btn-golden.disabled.active,
.btn-golden[disabled].active,
fieldset[disabled] .btn-golden.active {
  background-color: #d2a147;
  border-color: #c29440;
}

.btn-darkgreen{
    color: #ffffff;
    background: #4c7872;
    border-color: #3f726c;
}

.btn-darkgreen:hover,
.btn-darkgreen:focus,
.btn-darkgreen:active,
.btn-darkgreen.active,
.open .dropdown-toggle.btn-darkgreen {
    color: #ffffff;
    background: #3f645f;
    border-color: #375d58;
}

.btn-darkgreen:active,
.btn-darkgreen.active,
.open .dropdown-toggle.btn-darkgreen {
  background-image: none;
}

.btn-darkgreen.disabled,
.btn-darkgreen[disabled],
fieldset[disabled] .btn-darkgreen,
.btn-darkgreen.disabled:hover,
.btn-darkgreen[disabled]:hover,
fieldset[disabled] .btn-darkgreen:hover,
.btn-darkgreen.disabled:focus,
.btn-darkgreen[disabled]:focus,
fieldset[disabled] .btn-darkgreen:focus,
.btn-darkgreen.disabled:active,
.btn-darkgreen[disabled]:active,
fieldset[disabled] .btn-darkgreen:active,
.btn-darkgreen.disabled.active,
.btn-darkgreen[disabled].active,
fieldset[disabled] .btn-darkgreen.active {
  background-color: #4c7872;
  border-color: #3f726c;
}

.btn-brown{
    color: #ffffff;
    background: #ca8919;
    border-color: #c08115;
}

.btn-brown:hover,
.btn-brown:focus,
.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
    color: #ffffff;
    background: #b57c1b;
    border-color: #a8741a;
}

.btn-brown:active,
.btn-brown.active,
.open .dropdown-toggle.btn-brown {
  background-image: none;
}

.btn-brown.disabled,
.btn-brown[disabled],
fieldset[disabled] .btn-brown,
.btn-brown.disabled:hover,
.btn-brown[disabled]:hover,
fieldset[disabled] .btn-brown:hover,
.btn-brown.disabled:focus,
.btn-brown[disabled]:focus,
fieldset[disabled] .btn-brown:focus,
.btn-brown.disabled:active,
.btn-brown[disabled]:active,
fieldset[disabled] .btn-brown:active,
.btn-brown.disabled.active,
.btn-darkgreen[disabled].active,
fieldset[disabled] .btn-brown.active {
  background-color: #ca8919;
  border-color: #c08115;
}

/* Tabs and accordians  
====================================================================== */
.tabs-primary ul > li.active > a{
    background-color: #d9edf7;
}
.tabs-primary .tab-content{
    background-color: #d9edf7;
    padding: 5px 10px 10px;
}
.tabs-success ul > li.active > a{
    background-color: #dff0d8;
}
.tabs-success .tab-content{
    background-color: #dff0d8;
    padding: 5px 10px 10px;
}



/* Footer  
====================================================================== */ 
.footer{
    margin: 15px 0;
}
.footer p,.footer a{
    color: #A79B9B;
    text-align: center;
}
.footer a:hover{
    text-decoration: underline;
}


/* Custom Media Queries   
====================================================================== */ 

/*Landscape phones and down*/
  @media (max-width: 480px) {

 }
/*Landscape phone to portrait tablet*/
  @media (max-width: 767px) {
    .container {max-width: 98%;}
    .nav-user ul{
        float:none !important;
    }
    .nav-user{
        padding-right: 15px;
    }
        .nav-user .navbar-nav {
    margin:0px;
    }
 }
/*Portrait tablet to landscape and desktop*/
  @media (min-width: 768px) and (max-width: 992px) {
    .container {max-width: 96%;}
    .nav-user ul,.nav-user ul li{
        float:none !important;
    }
    .nav-user{
        padding-right:0;
        padding-left:0;

    }
    .nav-user ul{
        border-radius: 0 0 4px 4px ;
        position: static;
    }
    .navbar-nav.pull-right .dropdown{
        padding-left: 15px;
    }
}
/* Small Desktop & Ipad landscape*/
@media (min-width: 993px) and (max-width: 1199px) {
     .row.navbar-fixed-top{
        margin-left: 0;
        margin-right: 0;
    }
}
/*Large desktop*/
  @media (min-width: 1200px) {
    .container {max-width: 95%;} 

    .row.navbar-fixed-top{
        margin-left: 0;
        margin-right: 0;
    }
    ..nav-user .navbar-nav.pull-right > li > .dropdown-menu, 
    .nav-user .navbar-nav > li > .dropdown-menu.pull-right {
    right: 0 !important;
    left: auto !important';
    }
}






