.font-size-24 {
    font-size: 24px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-12 {
    font-size: 12px;
}
.fill-width {
    width: 100%;
}
.font-bold {
    font-weight: bold;
}
.project-row:hover {
    background-color: #d9d9d9;
}
.project-row .project-row-link:hover{
    cursor: pointer;
}
.project-router-container {
    margin-top: 20px;
    margin-left: 20px;
}
.margin-auto {
    margin: auto;
}
.border-collapse {
    border-collapse: collapse;
}