body{
    margin: 0px;
}
h6 {
    font-size: 1.25rem;
    font-weight: 100;
    line-height: 1.6;
    letter-spacing: 0.0075em;
}
p, h3, h6 {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 100;
}
h3 {
    font-size: 24px;
}
.font-size-24 {
    font-size: 24px;
}
.font-size-16 {
    font-size: 16px;
}
.font-size-12 {
    font-size: 12px;
}
.fill-height {
    height: 100%;
}
.fill-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.width-95 {
    width: 95%;
}
.width-15 {
    width: 15%;
}
.width-85 {
    width: 85%;
}
.width-30px {
    width: 30px;
}
.width-65px {
    width: 65px;
}
.width-100px {
    width: 100px;
}
.width-200px {
    width: 200px;
}
.width-300px {
    width: 300px
}
.font-bold {
    font-weight: bold;
}
.italics {
    font-style: italic;
}
.project-row p {
    font-size: 14px;
}
.project-row:hover {
    background-color: #eaeffa;
    color: #193167;
}
.project-row .project-row-link:hover{
    cursor: pointer;
}
.project-router-container {
    margin-top: 20px;
    margin-left: 20px;
}
.margin-auto {
    margin: auto;
}
/* Removes spacing between cells in table */
.border-collapse {
    border-collapse: collapse;
}

/* TODO: Consolidate index.css & app.css */
.display-none {
    display: none;
}
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.inline {
    display: inline;
}
.selected-color{
    background-color: #808080;
    color: white;
}
.background-white {
    background-color: white;
}
.table {
    display: table;
}
.table-cell {
    display: table-cell;
}
table p {
    margin: 10px;
}
.text-align-center {
    text-align: center;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.fill-width {
    width: 100%;
}
.half-width {
    width: 50%;
}
.height-inherit {
    height: inherit;
}
.height-25 {
    height: 25px;
}
.height-50px {
    height: 50px;
}
.body-container {
    min-height: 80vh
}
.margin-auto {
    margin: auto;
}
.margin-left-10 {
    margin-left: 10px;
}
.margin-left-25 {
    margin-left: 25px;
}
.margin-hor-5per {
    margin-left: 5%;
    margin-right: 5%;
}
.margin-10 {
    margin: 10px;
}
/* FOR <p> elements */
.padding-for-margin {
    margin: 0px;
    padding: 0.5em;
}
.margin-vert-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-75 {
    margin-bottom: 75px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-0 {
    margin: 0px;
}
.margin-1 {
    margin: 1px;
}
.padding-24 {
    padding: 24px;
}
.padding-vert-15 {
    padding-top: 15px;
    padding-bottom: 15px;
}
.padding-hor-5per {
    padding-left: 5%;
    padding-right: 5%;
}
.em2 {
    font-size: 1.2em;
}
.em5 {
    font-size: 1.5em;
}
.word-break {
    word-break: break-word;
}
.font-bold {
    font-weight: bold;
}
.underline {
    text-decoration: underline;
}
.center-hv {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.center-v {
    top: 50%;
    transform: translate(0%, -50%);
    position: absolute;
}
.pos-rel {
    position: relative;
}
.vertical-align-top {
    vertical-align: top;
}
.black-border {
    border: 1px solid black;
}
.light-blue-border {
    border: 2px solid #d6e0f5;
}
.black-border-bottom {
    border-bottom: 1px solid black;
}
.black-border-right {
    border-right: 1px solid black;
}
.curved-border {
    border-radius: 5px;
}
.black-color {
    color: black;
}
.white-color {
    color: white;
}
.overflow-y-scroll {
    overflow-y: scroll;
}
.overflow-x-scroll {
    overflow-x: scroll;
}


/* COLORS */
.mskcc-blue{
    color: #007cba;
}
.mskcc-orange{
    color: #df4602;
}
.mskcc-dark-blue{
    color: #006098;
}
.mskcc-medium-blue{
    color: #40b4e5;
}
.mskcc-light-blue{
    color: #8fc7e8;
}
.mskcc-dark-orange{
    color: #c24d00;
}
.mskcc-medium-orange{
    color: #f29934;
}
.mskcc-light-orange{
    color: #f6c65b;
}
.mskcc-dark-violet{
    color: #83276b;
}
.mskcc-light-violet{
    color: #b687b8;
}
.mskcc-dark-magenta{
    color: #e92076;
}
.mskcc-light-magenta{
    color: #efb3cb;
}
.mskcc-red{
    color: #b1132d;
}
.mskcc-dark-green{
    color: #4c8b2b;
}
.mskcc-light-green{
    color: #a6ce39;
}
.mskcc-dark-turquoise{
    color: #006c68;
}
.mskcc-light-turquoise{
    color: #009490;
}
.mskcc-dark-yellow{
    color: #ffc20e;
}
.mskcc-light-yellow{
    color: #ffe100;
}
.mskcc-dark-gray {
    color: #9e9e98;
}
.mskcc-light-gray{
    color: #d5d4c7;
}
.material-gray{
    color: #eceff1;
}
.mskcc-dark-gray-background {
    background-color: #9e9e98;
}
.material-gray-background {
    background-color: #eceff1;
}
.light-blue-background {
    background-color: #ebf0fa;
}
/* SPECIFIC STYLES */
/* BUTTONS */
button:hover{
    cursor: pointer;
}
.hover:hover{
    cursor: pointer;
}
.project-search {
    line-height: 1.8em;
}
.project-search-submit {
    vertical-align: top !important;
    height: 2em;
    margin-left: 20px !important;
}
.info-block {
    width: 25%;
    margin-left: 4%;
    margin-right: 4%;
}
.analysis-section {
    border: 1px black solid;
    border-radius: 10px;
}
.nav-container {
    background: #e6e6e6;
    height: 50px;
    border: 1px solid black;
}
.nav-container:hover {
    cursor: pointer;
}
.dropdown-nav {
    font-size: 35px;
    margin-left: 25px;
}
.dropdown-closed {
    max-height: 0px;
    transition: max-height 0.25s ease-out;
    overflow: hidden;
}
.dropdown-open {
    max-height: 900px;
    transition: max-height 0.4s ease-in;
    overflow: hidden;
}
/* For hot-table tables, height needs to be set on the parent div. Transitions do not work */
.table-dropdown-closed {
    height: 0px;
}
.table-dropdown-open {
    height: 600px;
}
.run-info-button {
    width: 65px;
    height: 40px;
    border-radius: 5px;
}
.dropdown-container {
    background-color: white;
    border-top: none;
    border: 1px solid black;
}
.ngs-stats-graphs-container {
    width: 100%;
    border-right: 1px solid black;
    overflow-x: scroll;
}
.charts-links-container{
    width: 15%;
    padding: 20px;
}
/* LOADER, REF: https://www.w3schools.com/howto/howto_css_loader.asp */
.loader {
    border: 16px solid #d5d4c7; /* mskcc-light-gray{ */
    border-top: 16px solid #8fc7e8; /* mskcc-light-blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/* MODAL */
.modal-container {
    position: fixed;
    left: 50%;
    top: 10px;
    z-index: 2;
    transform: translate(-50%,0%);
}
.modal {
    width: 500px;
    height: auto;
    top: 0%;
    margin: auto;
    padding: 5px 20px;
    margin-bottom: 3px;
    text-align: center;
    border-radius: 5px;
}
.modal-success {
    background: #b3e6cc;
}
.modal-update {
    background: #e6ffff;
}
.modal-fail {
    background: #ffb3b3;
}

header {
    background-color: #319ae8;
    border-bottom: 1px solid black;
}

.feedback-container {
    height: 400px;
    margin-bottom: 10px;
    margin-top: 15px;
    overflow-y: scroll;
}
.feedback-form {
    position: absolute;
    right: 0px;
    width: 250px;
    background-color: white;
    border: 1px solid black;
    z-index: 1;
}
.feedback-submit-btn {
    width: 50%;
    margin-left: 25% !important;
}
.feedback-text {
    height: 150px;
    width: 95%;
}

footer {
    height: 100px;
    background-color: #319ae8;
    border-top: 1px solid black;
}
.logo {
    border-radius: 2px;
    top: 10px;
    position: relative;
    height: 80px;
    width: 140px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 2px solid #f29934;
}
.box {
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
    color: #4a4a4a;
}
.btn-info {
    background-color: #209cee;
    color: #fff;
}
.tooltip {
    position: relative;
    display: inline-block;
}
/* Tooltip text */
.tooltip .tooltiptext {
    transition: 0s visibility;
    visibility: hidden;
    width: 100px;
    background-color: #d9d9d9;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    font-family: "Roboto", "Helvetica", "Arial", "sans-serif";

    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
    top: -15px;
    left: 105%;
}
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    transition-delay: 0.3s;
    box-shadow: 1px 1px #9e9e98;
}


/*     IDs     */
.flag-container p {
    display: none;
    margin-bottom: 0px;
}
.flag-container:hover p {
    display: block;
}
.router-section-container {
    background-color: white;
    padding: 20px;
    border: 2px solid #f29934;
    margin-bottom: 10px;
}
.projects-table-container {
    border-radius: 5px;
    padding: 10px 20px;
}
.coverage-chart-container {
    position: relative;
    display: inline-block;
    height: 300px;
    width: 500px;
}
#coverage-chart {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}
.check-description {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.fingerprint-check-wrapper {
    min-width: 1000px;
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-top: 30px;
    margin-bottom: 30px;
}
