<!DOCTYPE html>
<!--[if IE 8]>
<html class="lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" >
    <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <link rel="shortcut icon" href="{{ url_for('static', filename="images/msk.ico") }}">


        <title>QC Stats</title>

        <!-- Bootstrap core CSS -->
        <link href="{{ url_for('static', filename="css/bootstrap.css") }}" rel="stylesheet">

        <!-- Data-Table style -->
        <link href="{{ url_for('static', filename="css/jquery.dataTables.css") }}" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/1.0.3/css/buttons.dataTables.min.css">

        <!-- Custom styles for this template -->
        <link href="{{ url_for('static', filename="css/style.css") }}" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="js/html5shiv.js"></script>
            <script src="js/respond.min.js"></script>
        <![endif]-->

        <script src="{{ url_for('static', filename="js/custom.modernizr.js")}}" type="text/javascript" ></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <!-- THIS IS FOR JSX. Don't use this in production: -->
        <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>

        <style>
           th, td {
               padding: 0 13px 0;
            }
        </style>
    </head>

    <body>
        <!-- Main Container starts here -->
        <div class="container">
            <div class="row navbar-fixed-top" id="top-navigation">
                <!-- Navigation header starts here -->
                <header class=" col-sm-12 col-md-10">
                    <div class="navbar navbar-default">
                        <div class="navbar-header">
                            <a class="navbar-brand" href="{{ url_for('index') }}">IGO QC</a>
                        </div>

                        <div class="navbar-collapse collapse">
                            <form class="navbar-form navbar-center" role="search" action="{{ url_for('data_table', pId=project_id) }}" method="post">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Project ID" name="project_id">
                                </div>
                                <button type="submit" class="btn btn-default">Go!</button>
                            </form>
                        </div><!--/.nav-collapse -->
                    </div>
                </header>
                <!-- Navigation header ends here -->
                <div class="col-xs-12 col-sm-12 col-md-2 nav-user"></div>
            </div>

            <!-- Entry point for react -->
            <div class="row" id="react_app"></div>

            <div class="row">
                <div class="col-sm-14 col-md-14 col-lg-14">
                    <div class="widget-box">
                        <div class="widget-title">
                            <h3><i class="glyphicon glyphicon-align-left"></i>Stats Table</h3>
                        </div>
                        <div class="widget-container table-responsive">
                            <div class="content noPad clearfix">
                                <h3>Needs Review</h3>
                                <table id=projects class="basic-table">
                                     <tr><th>PI</th><th>Type</th><th>Request Id</th><th>Recent Runs</th><th>Date of Latest Stats</th></tr>
                                         {% for project in review_projects %}
                                         {% if project.ready %}
                                         <tr><td>{{ project.pi }}</td><td>{{ project.requestType }}</td><td><a href="{{ url_for('data_table', pId=project.requestId) }}" style="color:blue" >{{ project.requestId }}</a></td><td>{{ project.run }}</td><td>{{ project.date }}</td></tr>
                                         {% endif %}
                                         {% endfor %}
                                </table>
                                <h3>Requires Further Sequencing</h3>
                                <table id=projects class="basic-table">
                                     <tr><th>PI</th><th>Type</th><th>Request Id</th><th>Recent Runs</th><th>Date of Latest Stats</th></tr>
                                         {% for project in active_projects %}
                                         {% if project.ready %}
                                         <tr><td>{{ project.pi }}</td><td>{{ project.requestType }}</td><td><a href="{{ url_for('data_table', pId=project.requestId) }}" style="color:blue" >{{ project.requestId }}</a></td><td>{{ project.run }}</td><td>{{ project.date }}</td></tr>
                                         {% endif %}
                                         {% endfor %}
                                </table>
                                <h3>Recent Deliveries</h3>
                                <table id="delivered" class="basic-table">
                                    <tr><th>PI</th><th>Request Id</th><th>Date of Latest Stats</th></tr>
                                    {% for project in delivery_data %}
                                    <tr><td>{{ project.pi }}</td><td><a href="{{ url_for('data_table', pId=project.requestId) }}" style="color:blue" >{{ project.requestId  }}</a></td><td>{{ project.date }}</td></tr>
                                    {% endfor %}
                                </table>
                                <h3>Recent Runs</h3>
                                <table class="basic-table" id="delivered">
                                    <tr>
                                        <th>Report Generated</th>
                                        <th>Lane Summary</th>
                                        <th>Run Stats</th>
                                    </tr>
                                    {% for run in run_data %}
                                    <tr>
                                        <td>{{ run.date }}</td>
                                        <td><a href="{{ run.path }}" style="color:blue">{{ run.run_name }}</a></td>
                                        <td><button class="btn btn-primary" style="margin-bottom:5px;"><a href="{{ url_for('get_interops_data', runId=run.run_name)}}" target="_blank" style="color:white">View Run Stats</a></button></td>
                                    </tr>
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Main Container ends here -->
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->

        <!-- Important js put in all pages -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>
            window.jQuery || document.write('<script src="js/jquery.js"><\/script>')
        </script>
        <script src="{{ url_for('static', filename="js/bootstrap.min.js") }}"></script>

        <script src="{{ url_for('static', filename="js/react-dependencies/prop-types.min.js") }}"></script>

        <!-- Data table plugins -->
        <script src="{{ url_for('static', filename="js/jquery.dataTables.min.js") }}"></script>
        <script src="https://cdn.datatables.net/buttons/1.0.3/js/dataTables.buttons.min.js"></script>
        <script src="https://cdn.datatables.net/buttons/1.0.3/js/buttons.colvis.min.js"></script>

        <!-- Init plugins and custom javascript-->
        <script src="{{ url_for('static', filename="js/custom.js") }}"></script>


        <!-- Load React. -->
        <!-- Note: when deploying, replace "development.js" with "production.min.js". -->
        <script src="https://unpkg.com/react@16/umd/react.development.js" crossorigin></script>
        <script src="https://unpkg.com/react-dom@16/umd/react-dom.development.js" crossorigin></script>

        <!-- Load our React component. -->
        <script src="{{ url_for('static', filename='seq-qc/no-jsx-src/index.js') }}" type="module"></script>
</body>
</html>

